#groupSelector {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
  display: table; 
}

#groupSelector ul {
	list-style: none;
	margin: 0 auto;
	padding: 0; 
}

#groupSelector li {
	float: left; 
	border-bottom: 1px solid #ccc;
}

#groupSelector #login {
	margin:5px 5px 0 0;
	float:right;
}

#groupSelector li {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; 
	border-top: 1px solid #ccc;
}

#groupSelector li:hover {
	color: #c00;
	background-color: #fff; 
}

body {
  overflow:hidden;
  margin:0;
	font-family: Arial;
}

#groupSelector {
  margin-bottom:2px;
}

#login {
	text-align:right;
}